@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

:root {
  --primary-color: #7c59b0;
  --border-radius: 5px;
}

body {
  text-align: center;
}

h1 {
  font-size: 100px;
  color:var(--primary-color);
}

h2 {
  font-size: 75px;
}

button {
  cursor: pointer;
  color: white;
  background: var(--primary-color);
  border: none;
  height: 30px;
  width: 100px;
  border-radius: var(--border-radius);
  margin-top: 10px;
}