{% extends "base.html" %}
{% block title %}Add a Pet{% endblock %}

{% block content %}

<h1 class="display-1 m-3 text-center">Add a Pet</h1>

<div class="container form">
  <form id="pet-add-form" method="POST">
    {{ form.hidden_tag() }}

    {% for field in form if field.widget.input_type != 'hidden' %}

      <p>
        {{ field.label }}
        {{ field }}

        {% for error in field.errors %}
          {{ error }}
        {% endfor %}
      </p>

    {% endfor %}

    <button class="btn-primary btn-lg" type="submit">Submit</button>
  </form>
</div>

{% endblock %}